body {
    background-color: #232323;
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
}

.color-display {
    display: block;
}

.stripe {
    background-color: #fff;
    text-align: center;
    padding: 5px;
}

.container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    width: 30%;
    background-color: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25px;
}
